body {
    font-family: Arial, sans-serif;
    background-color: #F5F5DC; /* Color hueso */
    color:#196F3D; /* Verde */
    margin: 0;
    padding: 0;
}

header {
    background-color: #196F3D;
    color: white;
    padding: 20px;
    text-align: center;
    position: relative;
}

.menu {
    display: none;
    flex-direction: column;
    background-color: #196F3D;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li {
    text-align: center;
    padding: 10px 0;
}

.menu a {
    color: white;
    text-decoration: none;
}

.menu-toggle {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
}

/* Para que se muestre el menú cuando se haga clic */
.menu.show {
    display: flex;
}

.product-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px;
    gap: 20px;
}

.product {
    border: 1px solid #196F3D;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    width: 200px;
    background-color: #FFF;
}

.product img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.contact-button {
    text-align: center;
    margin-top: 20px;
}

.whatsapp-button {
    background-color: #196F3D;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.whatsapp-button:hover {
    background-color: #196F3D;
}

footer {
    background-color: #F5F5DC;
    padding: 30px;
    text-align: center;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.footer-info {
    flex: 1;
    padding: 10px;
}

.footer-info h4 {
    font-size: 18px;
    color: #196F3D;
}

.footer-info p {
    font-size: 14px;
    color: #555;
}

/* Responsividad */
@media (max-width: 768px) {
    
    .product-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* Dos columnas */
        gap: 15px; /* Espacio entre productos */
        padding: 10px; /* Espacio alrededor del grid */
    }

    .product {
        background-color: #fff; /* Fondo blanco */
        border: 1px solid #2E8B57; /* Borde verde */
        border-radius: 10px; /* Bordes redondeados */
        padding: 10px; /* Espaciado interno */
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra para resaltar los productos */
    }

    .product img {
        width: 100%;
        border-radius: 5px; /* Bordes redondeados para las imágenes */
    }
    .menu-toggle {
        display: block;
    }

    .menu {
        display: none;
    }

    .menu.show {
        display: flex;
    }
}
